flows.json
[
    {
        "id": "c9cf0916beea2b06",
        "type": "tab",
        "label": "RASA Create flow",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "25e44718.693758",
        "type": "tab",
        "label": "Test config node",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6b7a48cdf37ecce9",
        "type": "tab",
        "label": "Example mongodb4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "6601c4c791e5b30b",
        "type": "tab",
        "label": "Core API chatbot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a4e6507da790bd3",
        "type": "tab",
        "label": "Test FB API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b38a8460eabdbe4",
        "type": "tab",
        "label": "Test new node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a00a649098e6be0",
        "type": "subflow",
        "name": "Flow cơ bản",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "22626154f2f68eda"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 280,
                "wires": [
                    {
                        "id": "337b6ad23ef66a79",
                        "port": 0
                    },
                    {
                        "id": "034341cd59e2e579",
                        "port": 0
                    },
                    {
                        "id": "9b3188ddae703d79",
                        "port": 0
                    },
                    {
                        "id": "924b77fb25567606",
                        "port": 0
                    },
                    {
                        "id": "b07d9e2882559c70",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dd0b7f14421d961d",
        "type": "mongodb4-client",
        "name": "advanced connection",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "nodered",
        "authSource": "nodered",
        "authMechanism": "SCRAM-SHA-256",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "mongodb://localhost:27017",
        "advanced": "",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "e2bc7ac9aa77279e",
        "type": "mongodb4-client",
        "name": "simple connection",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "",
        "dbName": "nodered",
        "authSource": "nodered",
        "authMechanism": "SCRAM-SHA-256",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "{\"connectTimeoutMS\": 30000}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "cab5879551a69307",
        "type": "chatbot-crm-node",
        "botname": "Test botcake",
        "usernames": "",
        "store": "",
        "log": "",
        "debug": false,
        "multiWebHook": false,
        "profileFields": "first_name,last_name"
    },
    {
        "id": "237b1775a492a770",
        "type": "chatbot-universal-node",
        "botname": "CRM node",
        "usernames": "",
        "connectorParams": "",
        "store": "",
        "log": "",
        "debug": false
    },
    {
        "id": "8dad268fa22b51f1",
        "type": "chatbot-facebook-node",
        "botname": "Test RASA",
        "usernames": "",
        "store": "",
        "log": "",
        "debug": false,
        "multiWebHook": false,
        "profileFields": "first_name,last_name"
    },
    {
        "id": "22626154f2f68eda",
        "type": "chatbot-rules",
        "z": "0a00a649098e6be0",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/muahang"
            },
            {
                "type": "command",
                "command": "/goidien"
            }
        ],
        "outputs": 2,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "84fc25901920177e"
            ],
            [
                "77bc3b3afc74598b"
            ]
        ]
    },
    {
        "id": "84fc25901920177e",
        "type": "chatbot-quick-replies",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": "Bạn muốn mua gì?",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "CRM",
                "value": "/crm",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Tổng đài",
                "value": "/tongdai",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Chatbot",
                "value": "/chatbot",
                "url": ""
            }
        ],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "821eee9cbf7bec50"
            ]
        ]
    },
    {
        "id": "821eee9cbf7bec50",
        "type": "chatbot-facebook-send",
        "z": "0a00a649098e6be0",
        "bot": "8dad268fa22b51f1",
        "botProduction": "8dad268fa22b51f1",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "6d050f4ae9bd7bf3"
            ]
        ]
    },
    {
        "id": "337b6ad23ef66a79",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua CRM"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "034341cd59e2e579",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua tổng đài"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9b3188ddae703d79",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua chatbot"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6d050f4ae9bd7bf3",
        "type": "chatbot-rules",
        "z": "0a00a649098e6be0",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/crm"
            },
            {
                "type": "command",
                "command": "/tongdai"
            },
            {
                "type": "command",
                "command": "/chatbot"
            }
        ],
        "outputs": 3,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "337b6ad23ef66a79"
            ],
            [
                "034341cd59e2e579"
            ],
            [
                "9b3188ddae703d79"
            ]
        ]
    },
    {
        "id": "3f6961929590b337",
        "type": "chatbot-facebook-send",
        "z": "0a00a649098e6be0",
        "bot": "8dad268fa22b51f1",
        "botProduction": "8dad268fa22b51f1",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "6580d1615d467e6a"
            ]
        ]
    },
    {
        "id": "77bc3b3afc74598b",
        "type": "chatbot-quick-replies",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": "Bạn muốn gọi đến chăm sóc khách hàng với yêu cầu gì?",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "Chào hỏi",
                "value": "/chaohoi",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Đăng ký dịch vụ",
                "value": "/dangky",
                "url": ""
            }
        ],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "3f6961929590b337"
            ]
        ]
    },
    {
        "id": "924b77fb25567606",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "CRM chào hỏi lại bạn"
            }
        ],
        "language": "none",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b07d9e2882559c70",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đăng ký nhận tin từ CRM"
            }
        ],
        "language": "none",
        "x": 930,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6580d1615d467e6a",
        "type": "chatbot-rules",
        "z": "0a00a649098e6be0",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/chaohoi"
            },
            {
                "type": "command",
                "command": "/dangky"
            }
        ],
        "outputs": 2,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "924b77fb25567606"
            ],
            [
                "b07d9e2882559c70"
            ]
        ]
    },
    {
        "id": "b2d18992018c5b63",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Hello, this is test message!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "06b53df82d8236ef"
            ]
        ]
    },
    {
        "id": "1cafcec2c10ceb77",
        "type": "chatbot-facebook-receive",
        "z": "c9cf0916beea2b06",
        "bot": "",
        "botProduction": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "9d8626882d8dfb48"
            ]
        ]
    },
    {
        "id": "5ce8cd71cb3aacbd",
        "type": "chatbot-facebook-send",
        "z": "c9cf0916beea2b06",
        "bot": "",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "06b53df82d8236ef",
        "type": "chatbot-image",
        "z": "c9cf0916beea2b06",
        "name": "Hình ảnh",
        "filename": "",
        "image": "https://media.istockphoto.com/photos/feline-picture-id108226626",
        "caption": "",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "5ce8cd71cb3aacbd",
                "e58abe7444caff7d"
            ]
        ]
    },
    {
        "id": "9d8626882d8dfb48",
        "type": "chatbot-rules",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/hello"
            },
            {
                "type": "command",
                "command": "/chaohang"
            },
            {
                "type": "command",
                "command": "/A"
            },
            {
                "type": "command",
                "command": "/B"
            },
            {
                "type": "command",
                "command": "/getstarted"
            }
        ],
        "outputs": 5,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "b2d18992018c5b63"
            ],
            [
                "8839ecd205e57fa2"
            ],
            [
                "0c50fc8959440fcf"
            ],
            [
                "23e67788b29d8f14"
            ],
            [
                "608165afb2a22cbd"
            ]
        ]
    },
    {
        "id": "8839ecd205e57fa2",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Gọi điện",
        "message": [
            {
                "message": "Chao hang message here!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "af66f4f0be773c28"
            ]
        ]
    },
    {
        "id": "af66f4f0be773c28",
        "type": "chatbot-quick-replies",
        "z": "c9cf0916beea2b06",
        "name": "",
        "message": "Hello, this is quickReplies message",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "A",
                "value": "/A",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "B",
                "value": "/B",
                "url": ""
            }
        ],
        "x": 780,
        "y": 520,
        "wires": [
            [
                "5ce8cd71cb3aacbd",
                "e58abe7444caff7d"
            ]
        ]
    },
    {
        "id": "0c50fc8959440fcf",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Quick Replies 1",
        "message": [
            {
                "message": "A"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "23e67788b29d8f14",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Quick Replies 2",
        "message": [
            {
                "message": "B"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "56506615c3ee2261",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Chỉnh mainmenu trên FB",
        "info": "",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "2daee86c2ffbff9c",
        "type": "http in",
        "z": "c9cf0916beea2b06",
        "name": "",
        "url": "/changeFBMainmenu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "4952bc45edbb5945"
            ]
        ]
    },
    {
        "id": "304a1af62def0b7f",
        "type": "inject",
        "z": "c9cf0916beea2b06",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "4952bc45edbb5945"
            ]
        ]
    },
    {
        "id": "2a5fcf780f18e350",
        "type": "http request",
        "z": "c9cf0916beea2b06",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAHe6qOa2KIBAAeD8DjZAROzxCornHBHOeEYNuFvvzSfybJGZB4YlJcFrZBs0n1SBtXNkfYQBMTMv0XnxyZC8MoMg4sHKxJq4eDC3VbPwdNi83XNaZBl0DalYD5u1Dh2G9312SfDoxpQZAwpqYXSPRbS9WbhWZBjOEC4RhdZAZAHKlOicgFiqkInW",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "1a0e6c2249d6d737"
            ]
        ]
    },
    {
        "id": "4952bc45edbb5945",
        "type": "change",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"persistent_menu\":[{\"locale\":\"default\",\"composer_input_disabled\":false,\"call_to_actions\":[{\"type\":\"postback\",\"title\":\"Bạn muốn mua gì?\",\"payload\":\"/muahang\"},{\"type\":\"postback\",\"title\":\"Gọi điện cho người bán\",\"payload\":\"/goidien\"},{\"type\":\"web_url\",\"title\":\"Đến Website\",\"url\":\"https://antbuddy.com/\",\"webview_height_ratio\":\"full\"},{\"type\":\"web_url\",\"title\":\"Đến Google\",\"url\":\"https://google.com/\",\"webview_height_ratio\":\"full\"}]}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "2a5fcf780f18e350"
            ]
        ]
    },
    {
        "id": "1a0e6c2249d6d737",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a87799ba99371a3",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Tạo flows",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "e58abe7444caff7d",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "84468c1c2ec5f547",
        "type": "catch",
        "z": "c9cf0916beea2b06",
        "name": "Catch all Error",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "80c0305a2ab65b70"
            ]
        ]
    },
    {
        "id": "80c0305a2ab65b70",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "abbb25647f80dc2a",
        "type": "chatbot-facebook-receive",
        "z": "c9cf0916beea2b06",
        "bot": "",
        "botProduction": "",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "324399f71a97f36d"
            ]
        ]
    },
    {
        "id": "ab2a02c24da5393d",
        "type": "chatbot-facebook-send",
        "z": "c9cf0916beea2b06",
        "bot": "",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "324399f71a97f36d",
        "type": "subflow:0a00a649098e6be0",
        "z": "c9cf0916beea2b06",
        "name": "Flow anh Vinh",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "ab2a02c24da5393d"
            ]
        ]
    },
    {
        "id": "45b7a7fade50deb1",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Chỉnh get started trên FB",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd783374e553fee8",
        "type": "http in",
        "z": "c9cf0916beea2b06",
        "name": "",
        "url": "/changeFBWelcomeMessage",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "8c8c6d2fc60c4f18"
            ]
        ]
    },
    {
        "id": "7561fc41b1699b65",
        "type": "inject",
        "z": "c9cf0916beea2b06",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "8c8c6d2fc60c4f18"
            ]
        ]
    },
    {
        "id": "2d5ca2432597d571",
        "type": "http request",
        "z": "c9cf0916beea2b06",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAHe6qOa2KIBAAeD8DjZAROzxCornHBHOeEYNuFvvzSfybJGZB4YlJcFrZBs0n1SBtXNkfYQBMTMv0XnxyZC8MoMg4sHKxJq4eDC3VbPwdNi83XNaZBl0DalYD5u1Dh2G9312SfDoxpQZAwpqYXSPRbS9WbhWZBjOEC4RhdZAZAHKlOicgFiqkInW",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "cb406baeafaf4ae0"
            ]
        ]
    },
    {
        "id": "8c8c6d2fc60c4f18",
        "type": "change",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"get_started\":{\"payload\":\"/getstarted\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "2d5ca2432597d571"
            ]
        ]
    },
    {
        "id": "cb406baeafaf4ae0",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "608165afb2a22cbd",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Hello, this is test message!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "bd1b9414.8b32b8",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Linux",
        "properties": [
            {
                "p": "com1.PC_Stability",
                "pt": "global",
                "to": "Well done! Stable system.",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "d8e9f39e.653ea",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "9e818396.ce9d2"
            ]
        ]
    },
    {
        "id": "2a388509.ad5742",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "57ac7186.93afd8"
            ]
        ]
    },
    {
        "id": "f036c088.c54bd8",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "57ac7186.93afd8",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com1.PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "f036c088.c54bd8"
            ]
        ]
    },
    {
        "id": "9730e6c0.d46aa",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "bd1b9414.8b32b8"
            ]
        ]
    },
    {
        "id": "9e818396.ce9d2",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Win",
        "properties": [
            {
                "p": "com1.PC_Stability",
                "pt": "global",
                "to": "Unstable system. May crash.",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb1dfcde.fd153",
        "type": "function",
        "z": "25e44718.693758",
        "name": "set payload and headers",
        "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "e44209e7.752698"
            ]
        ]
    },
    {
        "id": "dcf34aab.218928",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "cb1dfcde.fd153"
            ]
        ]
    },
    {
        "id": "e44209e7.752698",
        "type": "http request",
        "z": "25e44718.693758",
        "name": "post to HttpBin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://httpbin.org/post",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "ee306582.f0dde8"
            ]
        ]
    },
    {
        "id": "ee306582.f0dde8",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "eafc5964f3b17bf1",
        "type": "comment",
        "z": "25e44718.693758",
        "name": "Broadcast",
        "info": "",
        "x": 160,
        "y": 720,
        "wires": []
    },
    {
        "id": "b936eedf7edd348c",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "80c5e6206dd126f4"
            ]
        ]
    },
    {
        "id": "8b1ae39a34577547",
        "type": "chatbot-message",
        "z": "25e44718.693758",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Broadcast message"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "781ec06407dc1640"
            ]
        ]
    },
    {
        "id": "781ec06407dc1640",
        "type": "chatbot-facebook-send",
        "z": "25e44718.693758",
        "bot": "",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 810,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "80c5e6206dd126f4",
        "type": "chatbot-conversation",
        "z": "25e44718.693758",
        "name": "",
        "botDevelopment": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "chatId": "4398380590200162",
        "userId": "",
        "transport": "facebook",
        "store": "",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "8b1ae39a34577547"
            ]
        ]
    },
    {
        "id": "1ebf6f89184d6945",
        "type": "comment",
        "z": "25e44718.693758",
        "name": "Chỉnh mainmenu trên FB",
        "info": "",
        "x": 210,
        "y": 860,
        "wires": []
    },
    {
        "id": "9b1b1d2d9ffd3ea7",
        "type": "http in",
        "z": "25e44718.693758",
        "name": "",
        "url": "/changeFBMainmenu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 920,
        "wires": [
            [
                "508667c48bca39dd"
            ]
        ]
    },
    {
        "id": "5d151a30f564a655",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "508667c48bca39dd"
            ]
        ]
    },
    {
        "id": "f03b948a34eba552",
        "type": "http request",
        "z": "25e44718.693758",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAM4W4WEQV0BAFeqxnZC2NbLJw6sDmd8aRAqdc3aelIUO1A9TENQtw529K79uBygxjyHZB4ZAv0x6XYxWVah3h1U9aUrWreEQEtEFMF3YfvzTi5kwOG1T2JgsXhv1ZAwdb6UNsU3YNlX0i6PcaljD9hBlVFLYGdGJP9MAlycB4rKvaPQsLiS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 960,
        "wires": [
            [
                "8c3d11738614bdd3"
            ]
        ]
    },
    {
        "id": "508667c48bca39dd",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"persistent_menu\":[{\"locale\":\"default\",\"composer_input_disabled\":false,\"call_to_actions\":[{\"type\":\"postback\",\"title\":\"Bạn muốn mua gì?\",\"payload\":\"/muahang\"},{\"type\":\"postback\",\"title\":\"Gọi điện cho người bán\",\"payload\":\"/goidien\"},{\"type\":\"web_url\",\"title\":\"Đến Website\",\"url\":\"https://antbuddy.com/\",\"webview_height_ratio\":\"full\"},{\"type\":\"web_url\",\"title\":\"Đến Google\",\"url\":\"https://google.com/\",\"webview_height_ratio\":\"full\"}]}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "f03b948a34eba552"
            ]
        ]
    },
    {
        "id": "8c3d11738614bdd3",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 960,
        "wires": []
    },
    {
        "id": "41f6dbed246ee31b",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "9685283cad5ac385"
            ]
        ]
    },
    {
        "id": "ed2f1d61bb883b3e",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "9685283cad5ac385",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "ed2f1d61bb883b3e"
            ]
        ]
    },
    {
        "id": "07746be588fcca26",
        "type": "function",
        "z": "25e44718.693758",
        "name": "get message node",
        "func": "msg = RED.nodes.getNode(config);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "372ea608627a01e5"
            ]
        ]
    },
    {
        "id": "1b2696b570757aec",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "07746be588fcca26"
            ]
        ]
    },
    {
        "id": "372ea608627a01e5",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "1efe1314c5251a93",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Linux",
        "properties": [
            {
                "p": "com2.PC_Stability",
                "pt": "global",
                "to": "Well done! Stable system.",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "48f55fd5e71e33db",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "f45a638b7f44b044"
            ]
        ]
    },
    {
        "id": "08ac75dc42ed6b24",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "adaf14bad03b458c"
            ]
        ]
    },
    {
        "id": "95785b0a17e25bbe",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "adaf14bad03b458c",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com2.PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "95785b0a17e25bbe"
            ]
        ]
    },
    {
        "id": "507706b72640d731",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1efe1314c5251a93"
            ]
        ]
    },
    {
        "id": "f45a638b7f44b044",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Win",
        "properties": [
            {
                "p": "com2.PC_Stability",
                "pt": "global",
                "to": "Unstable system. May crash.",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "e570d684e303cd01",
        "type": "chatbot-facebook-receive",
        "z": "25e44718.693758",
        "bot": "",
        "botProduction": "",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "80c5e6206dd126f4"
            ]
        ]
    },
    {
        "id": "491c8692701b332b",
        "type": "function",
        "z": "25e44718.693758",
        "name": "Lấy dữ liệu từ headers và params",
        "func": "msg.headers = msg.req.headers;\nmsg.body = msg.req.body;\nmsg.params = msg.req.params;\nmsg.query = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "fe36b4aab8e4b51e",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "02df4cd3db727bea"
            ]
        ]
    },
    {
        "id": "02df4cd3db727bea",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "fbdbc88728b6bb53"
            ]
        ]
    },
    {
        "id": "fbdbc88728b6bb53",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "ad6bea22c0e0b689"
            ]
        ]
    },
    {
        "id": "ad6bea22c0e0b689",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "8ee269b8753b02a1",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b3879290c479d05d"
            ]
        ]
    },
    {
        "id": "b3879290c479d05d",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [[\n    {name: 'chris', age: 28},\n    {name: 'markus', age: 32}\n]];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "f5c11e1900707b1c"
            ]
        ]
    },
    {
        "id": "f5c11e1900707b1c",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertMany",
        "output": "toArray",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "7a265f43dea48889"
            ]
        ]
    },
    {
        "id": "7a265f43dea48889",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c8f4bef1a115679",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "df0db7fed54ff2ef"
            ]
        ]
    },
    {
        "id": "df0db7fed54ff2ef",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina'}, {fields: {name: 1, age: 1}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "fb9612f0dabb7e67"
            ]
        ]
    },
    {
        "id": "fb9612f0dabb7e67",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "fc1f0dfb426c9034"
            ]
        ]
    },
    {
        "id": "fc1f0dfb426c9034",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "5b61665e0f5cc0c5",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "91c84ba4d12fb033"
            ]
        ]
    },
    {
        "id": "91c84ba4d12fb033",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "daa4aeeeb29120ca"
            ]
        ]
    },
    {
        "id": "daa4aeeeb29120ca",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "toArray",
        "name": "find.toArray",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "39ce7da42ba01b32"
            ]
        ]
    },
    {
        "id": "39ce7da42ba01b32",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "1075d26bfd292f92",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f83a21e14acc6837"
            ]
        ]
    },
    {
        "id": "f83a21e14acc6837",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "0d76106c415ab9bc"
            ]
        ]
    },
    {
        "id": "0d76106c415ab9bc",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "forEach",
        "name": "find.forEach",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "6c446d0d50cd33eb"
            ]
        ]
    },
    {
        "id": "6c446d0d50cd33eb",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e00d5ecdcb458feb",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "5a7163e6a172dec5"
            ]
        ]
    },
    {
        "id": "5a7163e6a172dec5",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 380,
        "wires": [
            [
                "eeb034c85f0a357e"
            ]
        ]
    },
    {
        "id": "eeb034c85f0a357e",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "dd0b7f14421d961d",
        "collection": "test",
        "operation": "countDocuments",
        "output": "toArray",
        "name": "countDocuments",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "2f288690a68278bd"
            ]
        ]
    },
    {
        "id": "2f288690a68278bd",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "b93d17fa7adf104d",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/get-all-connected-fb-page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "c92ed5c33c1c3296"
            ]
        ]
    },
    {
        "id": "c92ed5c33c1c3296",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "set payload",
        "func": "msg.payload = [{}, {fields: {pageName: 1}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "0cb951a52f82713f"
            ]
        ]
    },
    {
        "id": "929e3c2b4084838c",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "0cb951a52f82713f",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "toArray",
        "name": "",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "929e3c2b4084838c"
            ]
        ]
    },
    {
        "id": "dab4af10e7aae90c",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[1].pageName",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 880,
        "wires": []
    },
    {
        "id": "b0ec4263ab1d5144",
        "type": "http request",
        "z": "6601c4c791e5b30b",
        "name": "Call get all connected FB page",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/get-all-connected-fb-page",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "dab4af10e7aae90c"
            ]
        ]
    },
    {
        "id": "60ae2fd1aa9ec028",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "b0ec4263ab1d5144"
            ]
        ]
    },
    {
        "id": "3ba6a018c83dee98",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/get-connected-fb-page-detail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "1164d3698f906ca2"
            ]
        ]
    },
    {
        "id": "b4b313896cccce1c",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "8379e2f659d40206",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 780,
        "y": 260,
        "wires": [
            [
                "b4b313896cccce1c"
            ]
        ]
    },
    {
        "id": "1164d3698f906ca2",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "set payload",
        "func": "var ObjectId = global.get('mongodb').ObjectID;\n\nmsg.payload._id = ObjectId(msg.payload._id);\nmsg.payload = [msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "8379e2f659d40206"
            ]
        ]
    },
    {
        "id": "bac421b839d89750",
        "type": "catch",
        "z": "6601c4c791e5b30b",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "e42153d8f9465425",
                "f0373b018b877339"
            ]
        ]
    },
    {
        "id": "e42153d8f9465425",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f0373b018b877339",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "acac04f13ed05031",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "1164d3698f906ca2"
            ]
        ]
    },
    {
        "id": "651822d99b01b690",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/connectFB",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "9a5de1b14e9db571"
            ]
        ]
    },
    {
        "id": "1919ef577db46e0c",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 600,
        "wires": []
    },
    {
        "id": "37527ebf10e03c96",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "1919ef577db46e0c",
                "b3d09d0243d489b0"
            ]
        ]
    },
    {
        "id": "8d1cf18061779501",
        "type": "http request",
        "z": "6601c4c791e5b30b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://devchatbot.beeiq.co/api/v1/facebook/pages/is_subcribed?channel={{channel}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "f1d8701cec52858a"
            ]
        ]
    },
    {
        "id": "7f16d716759a94a5",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "Đặt access token và channel lấy dữ liệu",
        "func": "msg.headers = {};\nmsg.headers['x-access-token'] = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJjbGVkcVNPcFJNcWZoTUdLN3FaVlVrOW1ZQ3lUWWtRd0pySVdUT05FZjFFIn0.eyJleHAiOjE2NDg2OTU0MzMsImlhdCI6MTY0ODA5MDYzMywiYXV0aF90aW1lIjoxNjQ4MDkwNjMzLCJqdGkiOiI1YjgxNzY4OC00YmM1LTQ3YTItYThlMi1mZDNjY2RhNDgzZjMiLCJpc3MiOiJodHRwczovL2lkLmFudGJ1ZGR5LmNvbS9hdXRoL3JlYWxtcy9wcm9kdWN0aW9uLmFudGJ1ZGR5LmNvbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzZDJjMjA3Ny1lOWRmLTQ5ZWEtYTE5NS02ZTE2YmU2YjAzYmUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJiZWVpcS5jb19uZXciLCJzZXNzaW9uX3N0YXRlIjoiYTM2ZDgwMzEtMWQ3My00OGJiLWE4ZGEtZWVmYTIxODhlMjAxIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwczovL2JlZWlxLmNvIl0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsImRlZmF1bHQtcm9sZXMtcHJvZHVjdGlvbi5hbnRidWRkeS5jb20iLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoiZW1haWwgcHJvZmlsZSIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwibmFtZSI6ImRldmNoYXRib3QgLiIsIm9yZ2FuaXphdGlvbnMiOlsiL1Byb3Zpc2lvbmluZy9kZXZjaGF0Ym90LmFudGJ1ZGR5LmNvbSBtYXN0ZXJzIiwiL2FudGJ1ZGR5OmRldmNoYXRib3QvbWVtYmVyIiwiL2JlZWlxOmRldmNoYXRib3Qvb3duZXIiLCIvYW50YnVkZHk6ZGV2Y2hhdGJvdC9vd25lciJdLCJtb2JpbGUiOiIwMzUzMDAwNzIxIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZGV2Y2hhdGJvdCIsImdpdmVuX25hbWUiOiJkZXZjaGF0Ym90IiwiZmFtaWx5X25hbWUiOiIuIiwiZW1haWwiOiJwaGFuaG9hbmduOThAZ21haWwuY29tIn0.JnRH383vjhfmsAAnL6-IhgldbMUPEnuHAw1VkRmYPdquKItG8DFYGBfG85k6Kz_3--UWGzvPc3CJglPrD2JswwfufdIxuk1cOQSsLBXKKWguFPe9n7rRAA6jEnMZf-SunyTRimhGjsfxe59Vm6eNtAU6pz0-F8kVp3tkFFW0rhMEVSsJ9-cYkqRQvvOOW4glvs-0kC8xOlEcb_SdwQC0Di61fQhfCF1qD4hFpUZn2gQ51I5WAVdQ3Ni1dATy2uQ_4I99uaWrhj3-z3i-BPn00z8UJ0BUdfgNwMtO8L-5_yD4eoOGM9dlEfw5uSlyfsDa-1YriJD0NXNMi3McPcZwqA';\nmsg.channel = \"FACEBOOK\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "8d1cf18061779501"
            ]
        ]
    },
    {
        "id": "9b3d10d5bd6c5f02",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "7f16d716759a94a5"
            ]
        ]
    },
    {
        "id": "69c7586f84c6fdb4",
        "type": "comment",
        "z": "6601c4c791e5b30b",
        "name": "API để CRM liên kết FB với chatbot",
        "info": "",
        "x": 240,
        "y": 400,
        "wires": []
    },
    {
        "id": "f1d8701cec52858a",
        "type": "split",
        "z": "6601c4c791e5b30b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "9a5de1b14e9db571"
            ]
        ]
    },
    {
        "id": "b3d09d0243d489b0",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "a3d7825dba92ab75",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "9a5de1b14e9db571",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "set payload",
        "func": "var _ = global.get('lodash')\n\nmsg.payload = [_.pick(msg.payload, ['org', 'pageAccessToken', 'name', 'channel'])]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 540,
        "wires": [
            [
                "37527ebf10e03c96",
                "a3d7825dba92ab75"
            ]
        ]
    },
    {
        "id": "fb04b10b72d8089e",
        "type": "comment",
        "z": "6601c4c791e5b30b",
        "name": "Lấy dữ liệu chi tiết về trang FB đã liên kết trong DB",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "eb0082c69b6feef5",
        "type": "comment",
        "z": "6601c4c791e5b30b",
        "name": "Lấy tất cả trang FB đã liên kết",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "20efd69937434384",
        "type": "comment",
        "z": "6601c4c791e5b30b",
        "name": "API test",
        "info": "",
        "x": 130,
        "y": 820,
        "wires": []
    },
    {
        "id": "5aa87db5a9649eb1",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "510525909d78d30d"
            ]
        ]
    },
    {
        "id": "510525909d78d30d",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 28}];\nmsg.headers = msg.req.headers;\nmsg.params = msg.req.params;\nmsg.query = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "e1228ba9c5f1fd75",
                "6fb181f802dd3709"
            ]
        ]
    },
    {
        "id": "e1228ba9c5f1fd75",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "63e952130353acc9",
                "e9e0e69b7b920b22"
            ]
        ]
    },
    {
        "id": "63e952130353acc9",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ee2a7599c8b8575a",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/connectFBtest",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "510525909d78d30d"
            ]
        ]
    },
    {
        "id": "e9e0e69b7b920b22",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6fb181f802dd3709",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 940,
        "wires": []
    },
    {
        "id": "b9bc53bbdcb747ac",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "8072b64e1e404954",
        "type": "http request",
        "z": "1a4e6507da790bd3",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/connectFB?query={{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "b9bc53bbdcb747ac"
            ]
        ]
    },
    {
        "id": "c966a22fab11d129",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "66831e1a33dda2f2"
            ]
        ]
    },
    {
        "id": "179fd2d116891c22",
        "type": "catch",
        "z": "1a4e6507da790bd3",
        "name": "",
        "scope": [
            "05fb161fa63e2e3b",
            "444554a8f12de08a",
            "718690ee6a05bceb",
            "6fe88a054e6e6a55",
            "38d676b7c580705b",
            "995b58d7630b70f0",
            "7ed7753d71e5bac3",
            "16e73d3ffd9e67b2",
            "54e36dd05f832676",
            "7f350f10461f0ef3",
            "9e24663a28c281fe",
            "0005b5455e019765",
            "66831e1a33dda2f2",
            "8072b64e1e404954"
        ],
        "uncaught": false,
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "24a575855046560a",
                "2b188495750b5350"
            ]
        ]
    },
    {
        "id": "24a575855046560a",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1160,
        "wires": []
    },
    {
        "id": "66831e1a33dda2f2",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "set payload",
        "func": "msg.payload = {\"pageAccessToken\": \"page2\", \"appSecret\": \"veryverysecret\", \"pageName\": \"Page 2 Name\"};\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\nmsg.query = \"querykey\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "8072b64e1e404954"
            ]
        ]
    },
    {
        "id": "2b188495750b5350",
        "type": "http response",
        "z": "1a4e6507da790bd3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ae9a130b8cffbc42",
        "type": "chatbot-facebook-receive",
        "z": "1a4e6507da790bd3",
        "bot": "8dad268fa22b51f1",
        "botProduction": "8dad268fa22b51f1",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "8a979cbe385c8b1e"
            ]
        ]
    },
    {
        "id": "52b6c27cae26ad44",
        "type": "chatbot-facebook-send",
        "z": "1a4e6507da790bd3",
        "bot": "8dad268fa22b51f1",
        "botProduction": "8dad268fa22b51f1",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "d6de4184debaaf0a"
            ]
        ]
    },
    {
        "id": "8a979cbe385c8b1e",
        "type": "subflow:0a00a649098e6be0",
        "z": "1a4e6507da790bd3",
        "name": "Flow anh Vinh",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "52b6c27cae26ad44"
            ]
        ]
    },
    {
        "id": "e0d4ecb0a64b741a",
        "type": "comment",
        "z": "1a4e6507da790bd3",
        "name": "Chỉnh mainmenu trên FB",
        "info": "",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "cea7ed6e89c75d31",
        "type": "http in",
        "z": "1a4e6507da790bd3",
        "name": "",
        "url": "/changeFBMainmenu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "6fd315f9bcf32801"
            ]
        ]
    },
    {
        "id": "8dcac2ee65aef454",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "6fd315f9bcf32801"
            ]
        ]
    },
    {
        "id": "2c4c973f751ca939",
        "type": "http request",
        "z": "1a4e6507da790bd3",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAHe6qOa2KIBAFEkcLur53vhYTPmhaiLpChZBUNUiDQU6UCE7tInfsNuUGLDvML8Wol4qF6oXS0ru539YhR94NhJrYPfLIWCy1JYqefD2G0AQ9ZAOYt0VOYpguwYI9K1i9dxhqFHa44VkvmB50ISsNqQE54wUZCM5sA32qgkNkafX1nsZCPe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "101b7d8aeeb252de"
            ]
        ]
    },
    {
        "id": "6fd315f9bcf32801",
        "type": "change",
        "z": "1a4e6507da790bd3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"persistent_menu\":[{\"locale\":\"default\",\"composer_input_disabled\":false,\"call_to_actions\":[{\"type\":\"postback\",\"title\":\"Bạn muốn mua gì?\",\"payload\":\"/muahang\"},{\"type\":\"postback\",\"title\":\"Gọi điện cho người bán\",\"payload\":\"/goidien\"}]}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "2c4c973f751ca939"
            ]
        ]
    },
    {
        "id": "101b7d8aeeb252de",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "d6de4184debaaf0a",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed5da1f62e5a2ae0",
        "type": "inject",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "0e54fb1076037d4d"
            ]
        ]
    },
    {
        "id": "0e54fb1076037d4d",
        "type": "http request",
        "z": "2b38a8460eabdbe4",
        "name": "Call test URL",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/redbot/crm/test",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "1940546fd1586220"
            ]
        ]
    },
    {
        "id": "1940546fd1586220",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c76c53f17a99ee4",
        "type": "inject",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "3b6955ba357f0885"
            ]
        ]
    },
    {
        "id": "cbc273a2c855552a",
        "type": "http request",
        "z": "2b38a8460eabdbe4",
        "name": "Call test URL",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/chatIn",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "9314d3a8b9a7cb0c"
            ]
        ]
    },
    {
        "id": "9314d3a8b9a7cb0c",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "3b6955ba357f0885",
        "type": "change",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"sender\":\"dfdfdfkdfdfdfd\",\"message\":\"Hello salfdkjsalkfdj\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"from\":\"phanhoangnam\",\"subject\":\"just a topic\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "cbc273a2c855552a"
            ]
        ]
    },
    {
        "id": "c2037c06d11f810f",
        "type": "chatbot-crm-receive",
        "z": "2b38a8460eabdbe4",
        "bot": "cab5879551a69307",
        "botProduction": "cab5879551a69307",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "099b019913102198",
                "17ebab08b1cfc1b6"
            ]
        ]
    },
    {
        "id": "25e1ec0915c167f9",
        "type": "chatbot-crm-send",
        "z": "2b38a8460eabdbe4",
        "bot": "cab5879551a69307",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 910,
        "y": 80,
        "wires": [
            [
                "929b093ca32a4ae7"
            ]
        ]
    },
    {
        "id": "b49ab1e56aafd5a5",
        "type": "catch",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 800,
        "wires": [
            [
                "908dbb6ffe6ae01c"
            ]
        ]
    },
    {
        "id": "908dbb6ffe6ae01c",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "099b019913102198",
        "type": "chatbot-message",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": [
            {
                "message": "Hello"
            }
        ],
        "language": "none",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "ec64d75f50382248"
            ]
        ]
    },
    {
        "id": "35aa2f7d7106d9a2",
        "type": "inject",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "60ef12fc08a32cfc"
            ]
        ]
    },
    {
        "id": "60ef12fc08a32cfc",
        "type": "chatbot-support-table",
        "z": "2b38a8460eabdbe4",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "929b093ca32a4ae7",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "003c8795d0f526b1",
        "type": "http in",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "url": "/chatIn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "0f029edbb5d3f5ab",
                "f067bfc1debde4bc"
            ]
        ]
    },
    {
        "id": "37f7d263aea4aa61",
        "type": "chatbot-extend",
        "z": "2b38a8460eabdbe4",
        "codeJs": "node.chat.onChatId(msg => {\n  return msg.req.headers !== null ? msg.req.headers.from : 123465978;\n});\nnode.chat.onMessageId(msg => {\n  return msg._msgid != null ? msg._msgid : null;     \n});\nnode.chat.in(message => {\n  return new Promise((resolve, reject) => {\n    // email node put the content on the .payload, perhaps additional check if the .payload is a string\n    if (message.originalMessage.payload !== null) {\n      message.payload.type = 'message';\n      message.payload.content = message.originalMessage.payload;\n    }\n    resolve(message);\n  });\n});\n\nnode.chat.out(message => {\n  return new Promise((resolve, reject) => {\n     node.warn(\"first message out\");\n     resolve(message);\n  });    \n});\n\nnode.chat.out('message', message => {\n    var chat = message.chat();\n  return new Promise((resolve, reject) => {\n     message.to = chat.get('chatId');\n     node.warn(\"typed message out\");\n     node.warn(message);\n     resolve(message);\n  });    \n});\nnode.chat.out('quick-replies', message => {\n  var chat = message.chat();\n  return new Promise((resolve, reject) => {\n     message.to = chat.get('chatId');\n     node.warn(\"quick Replié out\");\n     node.warn(message);\n     resolve(message);\n  });    \n});\nnode.chat.out('inline-buttons', message => {\n  var chat = message.chat();\n  return new Promise((resolve, reject) => {\n     message.to = chat.get('chatId');\n     node.warn(\"buttons out\");\n     node.warn(message.payload);\n     resolve(message);\n  });    \n});\n",
        "platform": "universal",
        "noerr": 0,
        "x": 170,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f029edbb5d3f5ab",
        "type": "chatbot-universal-receive",
        "z": "2b38a8460eabdbe4",
        "bot": "237b1775a492a770",
        "botProduction": "",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "332fab0d4022f38c"
            ]
        ]
    },
    {
        "id": "97a7a38d18956db2",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "347eb5cf60ddc477",
        "type": "chatbot-universal-send",
        "z": "2b38a8460eabdbe4",
        "bot": "237b1775a492a770",
        "botProduction": "",
        "track": false,
        "passThrough": true,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "97a7a38d18956db2"
            ]
        ]
    },
    {
        "id": "794cbc20acd30e96",
        "type": "inject",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "cb1ecc84f8d525a3"
            ]
        ]
    },
    {
        "id": "72bb1767308c08c9",
        "type": "http request",
        "z": "2b38a8460eabdbe4",
        "name": "Call REDBOT CRM URL",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/redbot/crm",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "606afa6e1ace818a"
            ]
        ]
    },
    {
        "id": "606afa6e1ace818a",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb1ecc84f8d525a3",
        "type": "change",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"sender\":{\"id\":\"sdjflskadfjlaskdjf\"},\"message\":{\"type\":\"text\",\"content\":\"Hello salfdkjsalkfdj\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"from\":\"phanhoangnam\",\"subject\":\"just a topic\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "72bb1767308c08c9"
            ]
        ]
    },
    {
        "id": "f067bfc1debde4bc",
        "type": "http response",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "ec64d75f50382248",
        "type": "chatbot-message",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": [
            {
                "message": "Hello 2"
            }
        ],
        "language": "none",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "f46c2cea56ee2dd4"
            ]
        ]
    },
    {
        "id": "17ebab08b1cfc1b6",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "f46c2cea56ee2dd4",
        "type": "chatbot-quick-replies",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": "Bạn muốn mua gì?",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "CRM",
                "value": "/crm",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Tổng đài",
                "value": "/tongdai",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Chatbot",
                "value": "/chatbot",
                "url": ""
            }
        ],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "25e1ec0915c167f9"
            ]
        ]
    },
    {
        "id": "332fab0d4022f38c",
        "type": "chatbot-inline-buttons",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "buttons": [
            {
                "type": "postback",
                "label": "button1",
                "value": "/button1",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "button2",
                "value": "/button2",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Button something ",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "05b53950221119cd",
                "cdebf7ab0f2ec4e9"
            ]
        ]
    },
    {
        "id": "0537833b884d8d37",
        "type": "chatbot-message",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": [
            {
                "message": "Mình là một con bot."
            }
        ],
        "language": "none",
        "x": 1170,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "51f4910014e81f13",
        "type": "chatbot-message",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": [
            {
                "message": "Mình là một con bot."
            }
        ],
        "language": "none",
        "x": 930,
        "y": 540,
        "wires": [
            [
                "347eb5cf60ddc477"
            ]
        ]
    },
    {
        "id": "745e395c0ca61a63",
        "type": "chatbot-message",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": [
            {
                "message": "Chào bạn."
            }
        ],
        "language": "none",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "51f4910014e81f13"
            ]
        ]
    },
    {
        "id": "05b53950221119cd",
        "type": "chatbot-quick-replies",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "message": "Mình có thể giúp mấy cái này. Chọn đi",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "CRM",
                "value": "/crm",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Tổng đài",
                "value": "/tongdai",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Chatbot",
                "value": "/chatbot",
                "url": ""
            }
        ],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "745e395c0ca61a63",
                "cdebf7ab0f2ec4e9"
            ]
        ]
    },
    {
        "id": "cdebf7ab0f2ec4e9",
        "type": "debug",
        "z": "2b38a8460eabdbe4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 700,
        "wires": []
    }
]