flows.json
[
    {
        "id": "c9cf0916beea2b06",
        "type": "tab",
        "label": "RASA Create flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25e44718.693758",
        "type": "tab",
        "label": "Test config node",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6b7a48cdf37ecce9",
        "type": "tab",
        "label": "Example mongodb4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "6601c4c791e5b30b",
        "type": "tab",
        "label": "Mongodb API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a4e6507da790bd3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a00a649098e6be0",
        "type": "subflow",
        "name": "Flow cơ bản",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "22626154f2f68eda"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1020,
                "y": 140,
                "wires": [
                    {
                        "id": "337b6ad23ef66a79",
                        "port": 0
                    },
                    {
                        "id": "034341cd59e2e579",
                        "port": 0
                    },
                    {
                        "id": "9b3188ddae703d79",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2f7f54d8.3f7f5c",
        "type": "chatbot-context-store",
        "name": "memory",
        "contextStorage": "memory",
        "contextParams": ""
    },
    {
        "id": "3fd53775.38e008",
        "type": "chatbot-context-store",
        "name": "memory",
        "contextStorage": "memory",
        "contextParams": ""
    },
    {
        "id": "cd894194643eea2a",
        "type": "chatbot-facebook-node",
        "botname": "Testbot_dev",
        "usernames": "Hello",
        "store": "2f7f54d8.3f7f5c",
        "log": "",
        "debug": false,
        "multiWebHook": true,
        "profileFields": "first_name,last_name"
    },
    {
        "id": "e2bc7ac9aa77279e",
        "type": "mongodb4-client",
        "name": "simple connection",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "",
        "dbName": "nodered",
        "authSource": "nodered",
        "authMechanism": "SCRAM-SHA-256",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "{\"connectTimeoutMS\": 30000}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "dd0b7f14421d961d",
        "type": "mongodb4-client",
        "name": "advanced connection",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "nodered",
        "authSource": "nodered",
        "authMechanism": "SCRAM-SHA-256",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "mongodb://localhost:27017",
        "advanced": "",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "6f9adb2683cde25d",
        "type": "chatbot-crm-node",
        "botname": "623a93131bef2dd49c2fa0f1",
        "usernames": "",
        "store": "2f7f54d8.3f7f5c",
        "log": "",
        "debug": false,
        "multiWebHook": false,
        "profileFields": "first_name,last_name"
    },
    {
        "id": "22626154f2f68eda",
        "type": "chatbot-rules",
        "z": "0a00a649098e6be0",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/muahang"
            },
            {
                "type": "command",
                "command": "/goidien"
            }
        ],
        "outputs": 2,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "84fc25901920177e"
            ],
            [
                "de0be100339a5997"
            ]
        ]
    },
    {
        "id": "de0be100339a5997",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Gọi điện cho người bán: 9999999"
            }
        ],
        "language": "none",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "3f6961929590b337"
            ]
        ]
    },
    {
        "id": "84fc25901920177e",
        "type": "chatbot-quick-replies",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": "Bạn muốn mua gì?",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "CRM",
                "value": "/crm",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Tổng đài",
                "value": "/tongdai",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "Chatbot",
                "value": "/chatbot",
                "url": ""
            }
        ],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "821eee9cbf7bec50"
            ]
        ]
    },
    {
        "id": "821eee9cbf7bec50",
        "type": "chatbot-facebook-send",
        "z": "0a00a649098e6be0",
        "bot": "cd894194643eea2a",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "6d050f4ae9bd7bf3"
            ]
        ]
    },
    {
        "id": "337b6ad23ef66a79",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua CRM"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "034341cd59e2e579",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua tổng đài"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9b3188ddae703d79",
        "type": "chatbot-message",
        "z": "0a00a649098e6be0",
        "name": "",
        "message": [
            {
                "message": "Bạn đã đặt mua chatbot"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6d050f4ae9bd7bf3",
        "type": "chatbot-rules",
        "z": "0a00a649098e6be0",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/crm"
            },
            {
                "type": "command",
                "command": "/tongdai"
            },
            {
                "type": "command",
                "command": "/chatbot"
            }
        ],
        "outputs": 3,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "337b6ad23ef66a79"
            ],
            [
                "034341cd59e2e579"
            ],
            [
                "9b3188ddae703d79"
            ]
        ]
    },
    {
        "id": "3f6961929590b337",
        "type": "chatbot-facebook-send",
        "z": "0a00a649098e6be0",
        "bot": "cd894194643eea2a",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2d18992018c5b63",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Hello, this is test message!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "06b53df82d8236ef"
            ]
        ]
    },
    {
        "id": "1cafcec2c10ceb77",
        "type": "chatbot-facebook-receive",
        "z": "c9cf0916beea2b06",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "9d8626882d8dfb48"
            ]
        ]
    },
    {
        "id": "5ce8cd71cb3aacbd",
        "type": "chatbot-facebook-send",
        "z": "c9cf0916beea2b06",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "06b53df82d8236ef",
        "type": "chatbot-image",
        "z": "c9cf0916beea2b06",
        "name": "Hình ảnh",
        "filename": "",
        "image": "https://media.istockphoto.com/photos/feline-picture-id108226626",
        "caption": "",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "5ce8cd71cb3aacbd",
                "e58abe7444caff7d"
            ]
        ]
    },
    {
        "id": "9d8626882d8dfb48",
        "type": "chatbot-rules",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/hello"
            },
            {
                "type": "command",
                "command": "/chaohang"
            },
            {
                "type": "command",
                "command": "/A"
            },
            {
                "type": "command",
                "command": "/B"
            },
            {
                "type": "command",
                "command": "/getstarted"
            }
        ],
        "outputs": 5,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "b2d18992018c5b63"
            ],
            [
                "8839ecd205e57fa2"
            ],
            [
                "0c50fc8959440fcf"
            ],
            [
                "23e67788b29d8f14"
            ],
            [
                "608165afb2a22cbd"
            ]
        ]
    },
    {
        "id": "8839ecd205e57fa2",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Gọi điện",
        "message": [
            {
                "message": "Chao hang message here!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "af66f4f0be773c28"
            ]
        ]
    },
    {
        "id": "af66f4f0be773c28",
        "type": "chatbot-quick-replies",
        "z": "c9cf0916beea2b06",
        "name": "",
        "message": "Hello, this is quickReplies message",
        "buttons": [
            {
                "type": "quick-reply",
                "label": "A",
                "value": "/A",
                "url": ""
            },
            {
                "type": "quick-reply",
                "label": "B",
                "value": "/B",
                "url": ""
            }
        ],
        "x": 780,
        "y": 520,
        "wires": [
            [
                "5ce8cd71cb3aacbd",
                "e58abe7444caff7d"
            ]
        ]
    },
    {
        "id": "0c50fc8959440fcf",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Quick Replies 1",
        "message": [
            {
                "message": "A"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "23e67788b29d8f14",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Quick Replies 2",
        "message": [
            {
                "message": "B"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "56506615c3ee2261",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Chỉnh mainmenu trên FB",
        "info": "",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "2daee86c2ffbff9c",
        "type": "http in",
        "z": "c9cf0916beea2b06",
        "name": "",
        "url": "/changeFBMainmenu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "4952bc45edbb5945"
            ]
        ]
    },
    {
        "id": "304a1af62def0b7f",
        "type": "inject",
        "z": "c9cf0916beea2b06",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "4952bc45edbb5945"
            ]
        ]
    },
    {
        "id": "2a5fcf780f18e350",
        "type": "http request",
        "z": "c9cf0916beea2b06",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAHe6qOa2KIBAAeD8DjZAROzxCornHBHOeEYNuFvvzSfybJGZB4YlJcFrZBs0n1SBtXNkfYQBMTMv0XnxyZC8MoMg4sHKxJq4eDC3VbPwdNi83XNaZBl0DalYD5u1Dh2G9312SfDoxpQZAwpqYXSPRbS9WbhWZBjOEC4RhdZAZAHKlOicgFiqkInW",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "1a0e6c2249d6d737"
            ]
        ]
    },
    {
        "id": "4952bc45edbb5945",
        "type": "change",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"persistent_menu\":[{\"locale\":\"default\",\"composer_input_disabled\":false,\"call_to_actions\":[{\"type\":\"postback\",\"title\":\"Bạn muốn mua gì?\",\"payload\":\"/muahang\"},{\"type\":\"postback\",\"title\":\"Gọi điện cho người bán\",\"payload\":\"/goidien\"},{\"type\":\"web_url\",\"title\":\"Đến Website\",\"url\":\"https://antbuddy.com/\",\"webview_height_ratio\":\"full\"},{\"type\":\"web_url\",\"title\":\"Đến Google\",\"url\":\"https://google.com/\",\"webview_height_ratio\":\"full\"}]}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "2a5fcf780f18e350"
            ]
        ]
    },
    {
        "id": "1a0e6c2249d6d737",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a87799ba99371a3",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Tạo flows",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "e58abe7444caff7d",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "84468c1c2ec5f547",
        "type": "catch",
        "z": "c9cf0916beea2b06",
        "name": "Catch all Error",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "80c0305a2ab65b70"
            ]
        ]
    },
    {
        "id": "80c0305a2ab65b70",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "abbb25647f80dc2a",
        "type": "chatbot-facebook-receive",
        "z": "c9cf0916beea2b06",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "324399f71a97f36d"
            ]
        ]
    },
    {
        "id": "ab2a02c24da5393d",
        "type": "chatbot-facebook-send",
        "z": "c9cf0916beea2b06",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "324399f71a97f36d",
        "type": "subflow:0a00a649098e6be0",
        "z": "c9cf0916beea2b06",
        "name": "Flow anh Vinh",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "ab2a02c24da5393d"
            ]
        ]
    },
    {
        "id": "45b7a7fade50deb1",
        "type": "comment",
        "z": "c9cf0916beea2b06",
        "name": "Chỉnh get started trên FB",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd783374e553fee8",
        "type": "http in",
        "z": "c9cf0916beea2b06",
        "name": "",
        "url": "/changeFBWelcomeMessage",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "8c8c6d2fc60c4f18"
            ]
        ]
    },
    {
        "id": "7561fc41b1699b65",
        "type": "inject",
        "z": "c9cf0916beea2b06",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "8c8c6d2fc60c4f18"
            ]
        ]
    },
    {
        "id": "2d5ca2432597d571",
        "type": "http request",
        "z": "c9cf0916beea2b06",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAHe6qOa2KIBAAeD8DjZAROzxCornHBHOeEYNuFvvzSfybJGZB4YlJcFrZBs0n1SBtXNkfYQBMTMv0XnxyZC8MoMg4sHKxJq4eDC3VbPwdNi83XNaZBl0DalYD5u1Dh2G9312SfDoxpQZAwpqYXSPRbS9WbhWZBjOEC4RhdZAZAHKlOicgFiqkInW",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "cb406baeafaf4ae0"
            ]
        ]
    },
    {
        "id": "8c8c6d2fc60c4f18",
        "type": "change",
        "z": "c9cf0916beea2b06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"get_started\":{\"payload\":\"/getstarted\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "2d5ca2432597d571"
            ]
        ]
    },
    {
        "id": "cb406baeafaf4ae0",
        "type": "debug",
        "z": "c9cf0916beea2b06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "608165afb2a22cbd",
        "type": "chatbot-message",
        "z": "c9cf0916beea2b06",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Hello, this is test message!"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "5ce8cd71cb3aacbd"
            ]
        ]
    },
    {
        "id": "bd1b9414.8b32b8",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Linux",
        "properties": [
            {
                "p": "com1.PC_Stability",
                "pt": "global",
                "to": "Well done! Stable system.",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "d8e9f39e.653ea",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "9e818396.ce9d2"
            ]
        ]
    },
    {
        "id": "2a388509.ad5742",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "57ac7186.93afd8"
            ]
        ]
    },
    {
        "id": "f036c088.c54bd8",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "57ac7186.93afd8",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com1.PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "f036c088.c54bd8"
            ]
        ]
    },
    {
        "id": "9730e6c0.d46aa",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "bd1b9414.8b32b8"
            ]
        ]
    },
    {
        "id": "9e818396.ce9d2",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Win",
        "properties": [
            {
                "p": "com1.PC_Stability",
                "pt": "global",
                "to": "Unstable system. May crash.",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb1dfcde.fd153",
        "type": "function",
        "z": "25e44718.693758",
        "name": "set payload and headers",
        "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "e44209e7.752698"
            ]
        ]
    },
    {
        "id": "dcf34aab.218928",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "cb1dfcde.fd153"
            ]
        ]
    },
    {
        "id": "e44209e7.752698",
        "type": "http request",
        "z": "25e44718.693758",
        "name": "post to HttpBin",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://httpbin.org/post",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "ee306582.f0dde8"
            ]
        ]
    },
    {
        "id": "ee306582.f0dde8",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "eafc5964f3b17bf1",
        "type": "comment",
        "z": "25e44718.693758",
        "name": "Broadcast",
        "info": "",
        "x": 160,
        "y": 720,
        "wires": []
    },
    {
        "id": "b936eedf7edd348c",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "80c5e6206dd126f4"
            ]
        ]
    },
    {
        "id": "8b1ae39a34577547",
        "type": "chatbot-message",
        "z": "25e44718.693758",
        "name": "Chào hỏi",
        "message": [
            {
                "message": "Broadcast message"
            }
        ],
        "language": "none",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "781ec06407dc1640"
            ]
        ]
    },
    {
        "id": "781ec06407dc1640",
        "type": "chatbot-facebook-send",
        "z": "25e44718.693758",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "track": false,
        "passThrough": true,
        "errorOutput": false,
        "outputs": 1,
        "x": 810,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "80c5e6206dd126f4",
        "type": "chatbot-conversation",
        "z": "25e44718.693758",
        "name": "",
        "botDevelopment": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "chatId": "4398380590200162",
        "userId": "",
        "transport": "facebook",
        "store": "3fd53775.38e008",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "8b1ae39a34577547"
            ]
        ]
    },
    {
        "id": "1ebf6f89184d6945",
        "type": "comment",
        "z": "25e44718.693758",
        "name": "Chỉnh mainmenu trên FB",
        "info": "",
        "x": 210,
        "y": 860,
        "wires": []
    },
    {
        "id": "9b1b1d2d9ffd3ea7",
        "type": "http in",
        "z": "25e44718.693758",
        "name": "",
        "url": "/changeFBMainmenu",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 920,
        "wires": [
            [
                "508667c48bca39dd"
            ]
        ]
    },
    {
        "id": "5d151a30f564a655",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "508667c48bca39dd"
            ]
        ]
    },
    {
        "id": "f03b948a34eba552",
        "type": "http request",
        "z": "25e44718.693758",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://graph.facebook.com/v13.0/me/messenger_profile?access_token=EAAM4W4WEQV0BAFeqxnZC2NbLJw6sDmd8aRAqdc3aelIUO1A9TENQtw529K79uBygxjyHZB4ZAv0x6XYxWVah3h1U9aUrWreEQEtEFMF3YfvzTi5kwOG1T2JgsXhv1ZAwdb6UNsU3YNlX0i6PcaljD9hBlVFLYGdGJP9MAlycB4rKvaPQsLiS",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 960,
        "wires": [
            [
                "8c3d11738614bdd3"
            ]
        ]
    },
    {
        "id": "508667c48bca39dd",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"persistent_menu\":[{\"locale\":\"default\",\"composer_input_disabled\":false,\"call_to_actions\":[{\"type\":\"postback\",\"title\":\"Bạn muốn mua gì?\",\"payload\":\"/muahang\"},{\"type\":\"postback\",\"title\":\"Gọi điện cho người bán\",\"payload\":\"/goidien\"},{\"type\":\"web_url\",\"title\":\"Đến Website\",\"url\":\"https://antbuddy.com/\",\"webview_height_ratio\":\"full\"},{\"type\":\"web_url\",\"title\":\"Đến Google\",\"url\":\"https://google.com/\",\"webview_height_ratio\":\"full\"}]}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 960,
        "wires": [
            [
                "f03b948a34eba552"
            ]
        ]
    },
    {
        "id": "8c3d11738614bdd3",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 960,
        "wires": []
    },
    {
        "id": "41f6dbed246ee31b",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "9685283cad5ac385"
            ]
        ]
    },
    {
        "id": "ed2f1d61bb883b3e",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "9685283cad5ac385",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "ed2f1d61bb883b3e"
            ]
        ]
    },
    {
        "id": "07746be588fcca26",
        "type": "function",
        "z": "25e44718.693758",
        "name": "get message node",
        "func": "msg = RED.nodes.getNode(config);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "372ea608627a01e5"
            ]
        ]
    },
    {
        "id": "1b2696b570757aec",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "07746be588fcca26"
            ]
        ]
    },
    {
        "id": "372ea608627a01e5",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "1efe1314c5251a93",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Linux",
        "properties": [
            {
                "p": "com2.PC_Stability",
                "pt": "global",
                "to": "Well done! Stable system.",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "48f55fd5e71e33db",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "f45a638b7f44b044"
            ]
        ]
    },
    {
        "id": "08ac75dc42ed6b24",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "adaf14bad03b458c"
            ]
        ]
    },
    {
        "id": "95785b0a17e25bbe",
        "type": "debug",
        "z": "25e44718.693758",
        "name": "PC_Stability",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "adaf14bad03b458c",
        "type": "change",
        "z": "25e44718.693758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "com2.PC_Stability",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "95785b0a17e25bbe"
            ]
        ]
    },
    {
        "id": "507706b72640d731",
        "type": "inject",
        "z": "25e44718.693758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1efe1314c5251a93"
            ]
        ]
    },
    {
        "id": "f45a638b7f44b044",
        "type": "config",
        "z": "25e44718.693758",
        "name": "Install Win",
        "properties": [
            {
                "p": "com2.PC_Stability",
                "pt": "global",
                "to": "Unstable system. May crash.",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "e570d684e303cd01",
        "type": "chatbot-facebook-receive",
        "z": "25e44718.693758",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "80c5e6206dd126f4"
            ]
        ]
    },
    {
        "id": "491c8692701b332b",
        "type": "function",
        "z": "25e44718.693758",
        "name": "Lấy dữ liệu từ headers và params",
        "func": "msg.headers = msg.req.headers;\nmsg.body = msg.req.body;\nmsg.params = msg.req.params;\nmsg.query = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "fe36b4aab8e4b51e",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "02df4cd3db727bea"
            ]
        ]
    },
    {
        "id": "02df4cd3db727bea",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "fbdbc88728b6bb53"
            ]
        ]
    },
    {
        "id": "fbdbc88728b6bb53",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "ad6bea22c0e0b689"
            ]
        ]
    },
    {
        "id": "ad6bea22c0e0b689",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "8ee269b8753b02a1",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b3879290c479d05d"
            ]
        ]
    },
    {
        "id": "b3879290c479d05d",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [[\n    {name: 'chris', age: 28},\n    {name: 'markus', age: 32}\n]];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "f5c11e1900707b1c"
            ]
        ]
    },
    {
        "id": "f5c11e1900707b1c",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertMany",
        "output": "toArray",
        "name": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "7a265f43dea48889"
            ]
        ]
    },
    {
        "id": "7a265f43dea48889",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c8f4bef1a115679",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "df0db7fed54ff2ef"
            ]
        ]
    },
    {
        "id": "df0db7fed54ff2ef",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina'}, {fields: {name: 1, age: 1}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "fb9612f0dabb7e67"
            ]
        ]
    },
    {
        "id": "fb9612f0dabb7e67",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "fc1f0dfb426c9034"
            ]
        ]
    },
    {
        "id": "fc1f0dfb426c9034",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "5b61665e0f5cc0c5",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "91c84ba4d12fb033"
            ]
        ]
    },
    {
        "id": "91c84ba4d12fb033",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "daa4aeeeb29120ca"
            ]
        ]
    },
    {
        "id": "daa4aeeeb29120ca",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "toArray",
        "name": "find.toArray",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "39ce7da42ba01b32"
            ]
        ]
    },
    {
        "id": "39ce7da42ba01b32",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "1075d26bfd292f92",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f83a21e14acc6837"
            ]
        ]
    },
    {
        "id": "f83a21e14acc6837",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "0d76106c415ab9bc"
            ]
        ]
    },
    {
        "id": "0d76106c415ab9bc",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "forEach",
        "name": "find.forEach",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "6c446d0d50cd33eb"
            ]
        ]
    },
    {
        "id": "6c446d0d50cd33eb",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e00d5ecdcb458feb",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "5a7163e6a172dec5"
            ]
        ]
    },
    {
        "id": "5a7163e6a172dec5",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 28}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 380,
        "wires": [
            [
                "eeb034c85f0a357e"
            ]
        ]
    },
    {
        "id": "eeb034c85f0a357e",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "dd0b7f14421d961d",
        "collection": "test",
        "operation": "countDocuments",
        "output": "toArray",
        "name": "countDocuments",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "2f288690a68278bd"
            ]
        ]
    },
    {
        "id": "2f288690a68278bd",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "b93d17fa7adf104d",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/get-all-connected-fb-page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "c92ed5c33c1c3296"
            ]
        ]
    },
    {
        "id": "c92ed5c33c1c3296",
        "type": "function",
        "z": "6601c4c791e5b30b",
        "name": "set payload",
        "func": "msg.payload = [{}, {fields: {pageName: 1}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "0cb951a52f82713f"
            ]
        ]
    },
    {
        "id": "f78c6d4c8723f289",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "929e3c2b4084838c",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "0cb951a52f82713f",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "find",
        "output": "toArray",
        "name": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "929e3c2b4084838c",
                "f78c6d4c8723f289"
            ]
        ]
    },
    {
        "id": "dab4af10e7aae90c",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[1].pageName",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "b0ec4263ab1d5144",
        "type": "http request",
        "z": "6601c4c791e5b30b",
        "name": "Call get all connected FB page",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/get-all-connected-fb-page",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "dab4af10e7aae90c"
            ]
        ]
    },
    {
        "id": "60ae2fd1aa9ec028",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "b0ec4263ab1d5144"
            ]
        ]
    },
    {
        "id": "444d5bbcc878ce60",
        "type": "lower-case",
        "z": "6601c4c791e5b30b",
        "name": "",
        "mongodb_collection": "623828766890ea9300b6467d",
        "x": 150,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "dd9ba3cf8889d37b",
        "type": "chatbot-facebook-receive",
        "z": "6601c4c791e5b30b",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "x": 170,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b9b21f652fbfaf68",
        "type": "chatbot-facebook-receive",
        "z": "6601c4c791e5b30b",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "x": 370,
        "y": 680,
        "wires": [
            [
                "747cee40129a5e77"
            ]
        ]
    },
    {
        "id": "8fa57224f5735707",
        "type": "chatbot-facebook-send",
        "z": "6601c4c791e5b30b",
        "bot": "cd894194643eea2a",
        "botProduction": "cd894194643eea2a",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 990,
        "y": 640,
        "wires": []
    },
    {
        "id": "747cee40129a5e77",
        "type": "subflow:0a00a649098e6be0",
        "z": "6601c4c791e5b30b",
        "name": "Flow anh Vinh",
        "x": 660,
        "y": 640,
        "wires": [
            [
                "8fa57224f5735707"
            ]
        ]
    },
    {
        "id": "956dbd80b1dbf5f9",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "Nhận từ bên CRM",
        "url": "",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "00c55f418368f677"
            ]
        ]
    },
    {
        "id": "00c55f418368f677",
        "type": "chatbot-message",
        "z": "6601c4c791e5b30b",
        "name": "",
        "message": [
            {
                "message": "Chào bạn lại"
            }
        ],
        "language": "none",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "bad4641950f4cfc2"
            ]
        ]
    },
    {
        "id": "bad4641950f4cfc2",
        "type": "chatbot-inline-buttons",
        "z": "6601c4c791e5b30b",
        "name": "",
        "buttons": [
            {
                "type": "url",
                "label": "antbuddy",
                "url": "antbuddy.com",
                "webViewHeightRatio": "tall",
                "extensions": false,
                "answer": "",
                "alert": false
            },
            {
                "type": "postback",
                "label": "gọi tổng đài",
                "value": "/tongdai",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "",
        "x": 600,
        "y": 860,
        "wires": [
            [
                "4cefb568d857451c",
                "c59dd8c10cf4d1e9"
            ]
        ]
    },
    {
        "id": "4cefb568d857451c",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "Gửi lại bên CRM",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "c59dd8c10cf4d1e9",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "ee48b49db9d83404",
        "type": "inject",
        "z": "6601c4c791e5b30b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "msg",
                "v": "Hello",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "00c55f418368f677"
            ]
        ]
    },
    {
        "id": "3ba6a018c83dee98",
        "type": "http in",
        "z": "6601c4c791e5b30b",
        "name": "",
        "url": "/get-connected-fb-page-detail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "8379e2f659d40206"
            ]
        ]
    },
    {
        "id": "0b0cdaf9353e4b94",
        "type": "debug",
        "z": "6601c4c791e5b30b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "b4b313896cccce1c",
        "type": "http response",
        "z": "6601c4c791e5b30b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "8379e2f659d40206",
        "type": "mongodb4",
        "z": "6601c4c791e5b30b",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "b4b313896cccce1c",
                "0b0cdaf9353e4b94"
            ]
        ]
    },
    {
        "id": "12debf9e44f8bac0",
        "type": "chatbot-crm-receive",
        "z": "6601c4c791e5b30b",
        "bot": "6f9adb2683cde25d",
        "botProduction": "",
        "x": 290,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7ed7753d71e5bac3",
        "type": "http in",
        "z": "1a4e6507da790bd3",
        "name": "",
        "url": "/connectFB",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "6fe88a054e6e6a55",
                "aed0fb6d053b359f"
            ]
        ]
    },
    {
        "id": "b9bc53bbdcb747ac",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "8072b64e1e404954",
        "type": "http request",
        "z": "1a4e6507da790bd3",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/connectFB?query={{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "b9bc53bbdcb747ac"
            ]
        ]
    },
    {
        "id": "c966a22fab11d129",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "66831e1a33dda2f2"
            ]
        ]
    },
    {
        "id": "179fd2d116891c22",
        "type": "catch",
        "z": "1a4e6507da790bd3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 840,
        "wires": [
            [
                "24a575855046560a",
                "2b188495750b5350"
            ]
        ]
    },
    {
        "id": "24a575855046560a",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "f0376db7a2b9d34b",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "9e24663a28c281fe"
            ]
        ]
    },
    {
        "id": "9e24663a28c281fe",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 28}];\nmsg.headers = msg.req.headers;\nmsg.params = msg.req.params;\nmsg.query = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 780,
        "wires": [
            [
                "0005b5455e019765",
                "9f2e6927550fc338"
            ]
        ]
    },
    {
        "id": "0005b5455e019765",
        "type": "mongodb4",
        "z": "1a4e6507da790bd3",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "0e188b5063d96fa3",
                "d91585edfe8d3462"
            ]
        ]
    },
    {
        "id": "0e188b5063d96fa3",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "7f350f10461f0ef3",
        "type": "http in",
        "z": "1a4e6507da790bd3",
        "name": "",
        "url": "/connectFBtest",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 700,
        "wires": [
            [
                "9e24663a28c281fe"
            ]
        ]
    },
    {
        "id": "d91585edfe8d3462",
        "type": "http response",
        "z": "1a4e6507da790bd3",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 780,
        "wires": []
    },
    {
        "id": "9f2e6927550fc338",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "a64b0a610cbf0d4c",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "set payload",
        "func": "msg.payload = _.pick(msg.payload, ['org', 'pageAccessToken', 'name', 'channel'])\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "2a1a3961dddf0cfe",
                "38d676b7c580705b"
            ]
        ]
    },
    {
        "id": "2a1a3961dddf0cfe",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "66831e1a33dda2f2",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "set payload",
        "func": "msg.payload = {\"pageAccessToken\": \"page2\", \"appSecret\": \"veryverysecret\", \"pageName\": \"Page 2 Name\"};\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\nmsg.query = \"querykey\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "8072b64e1e404954"
            ]
        ]
    },
    {
        "id": "2b188495750b5350",
        "type": "http response",
        "z": "1a4e6507da790bd3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 900,
        "wires": []
    },
    {
        "id": "38d676b7c580705b",
        "type": "mongodb4",
        "z": "1a4e6507da790bd3",
        "clientNode": "e2bc7ac9aa77279e",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "2a1a3961dddf0cfe"
            ]
        ]
    },
    {
        "id": "718690ee6a05bceb",
        "type": "http request",
        "z": "1a4e6507da790bd3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://devchatbot.beeiq.co/api/v1/facebook/pages/is_subcribed?channel={{channel}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "3c73a9f8bb355a21",
                "6fe88a054e6e6a55"
            ]
        ]
    },
    {
        "id": "444554a8f12de08a",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "Đặt access token và channel lấy dữ liệu",
        "func": "msg.headers = {};\nmsg.headers['x-access-token'] = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJjbGVkcVNPcFJNcWZoTUdLN3FaVlVrOW1ZQ3lUWWtRd0pySVdUT05FZjFFIn0.eyJleHAiOjE2NDg2OTU0MzMsImlhdCI6MTY0ODA5MDYzMywiYXV0aF90aW1lIjoxNjQ4MDkwNjMzLCJqdGkiOiI1YjgxNzY4OC00YmM1LTQ3YTItYThlMi1mZDNjY2RhNDgzZjMiLCJpc3MiOiJodHRwczovL2lkLmFudGJ1ZGR5LmNvbS9hdXRoL3JlYWxtcy9wcm9kdWN0aW9uLmFudGJ1ZGR5LmNvbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzZDJjMjA3Ny1lOWRmLTQ5ZWEtYTE5NS02ZTE2YmU2YjAzYmUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJiZWVpcS5jb19uZXciLCJzZXNzaW9uX3N0YXRlIjoiYTM2ZDgwMzEtMWQ3My00OGJiLWE4ZGEtZWVmYTIxODhlMjAxIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwczovL2JlZWlxLmNvIl0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsImRlZmF1bHQtcm9sZXMtcHJvZHVjdGlvbi5hbnRidWRkeS5jb20iLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoiZW1haWwgcHJvZmlsZSIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwibmFtZSI6ImRldmNoYXRib3QgLiIsIm9yZ2FuaXphdGlvbnMiOlsiL1Byb3Zpc2lvbmluZy9kZXZjaGF0Ym90LmFudGJ1ZGR5LmNvbSBtYXN0ZXJzIiwiL2FudGJ1ZGR5OmRldmNoYXRib3QvbWVtYmVyIiwiL2JlZWlxOmRldmNoYXRib3Qvb3duZXIiLCIvYW50YnVkZHk6ZGV2Y2hhdGJvdC9vd25lciJdLCJtb2JpbGUiOiIwMzUzMDAwNzIxIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZGV2Y2hhdGJvdCIsImdpdmVuX25hbWUiOiJkZXZjaGF0Ym90IiwiZmFtaWx5X25hbWUiOiIuIiwiZW1haWwiOiJwaGFuaG9hbmduOThAZ21haWwuY29tIn0.JnRH383vjhfmsAAnL6-IhgldbMUPEnuHAw1VkRmYPdquKItG8DFYGBfG85k6Kz_3--UWGzvPc3CJglPrD2JswwfufdIxuk1cOQSsLBXKKWguFPe9n7rRAA6jEnMZf-SunyTRimhGjsfxe59Vm6eNtAU6pz0-F8kVp3tkFFW0rhMEVSsJ9-cYkqRQvvOOW4glvs-0kC8xOlEcb_SdwQC0Di61fQhfCF1qD4hFpUZn2gQ51I5WAVdQ3Ni1dATy2uQ_4I99uaWrhj3-z3i-BPn00z8UJ0BUdfgNwMtO8L-5_yD4eoOGM9dlEfw5uSlyfsDa-1YriJD0NXNMi3McPcZwqA';\nmsg.channel = \"FACEBOOK\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "718690ee6a05bceb"
            ]
        ]
    },
    {
        "id": "05fb161fa63e2e3b",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "444554a8f12de08a"
            ]
        ]
    },
    {
        "id": "3c73a9f8bb355a21",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "18168a0bdd3eeeab",
        "type": "comment",
        "z": "1a4e6507da790bd3",
        "name": "Lấy dữ liệu trang FB đã liên kết",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "6fe88a054e6e6a55",
        "type": "split",
        "z": "1a4e6507da790bd3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "a64b0a610cbf0d4c",
                "2a1a3961dddf0cfe"
            ]
        ]
    },
    {
        "id": "aed0fb6d053b359f",
        "type": "http response",
        "z": "1a4e6507da790bd3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "16e73d3ffd9e67b2",
        "type": "inject",
        "z": "1a4e6507da790bd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "54e36dd05f832676"
            ]
        ]
    },
    {
        "id": "55e33801ca5aef75",
        "type": "function",
        "z": "1a4e6507da790bd3",
        "name": "set payload",
        "func": "msg.payload = _.omit(msg.payload, ['org', 'pageAccessToken', 'name', 'channel'])\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 520,
        "wires": [
            [
                "8c33b03e647a2934"
            ]
        ]
    },
    {
        "id": "54e36dd05f832676",
        "type": "change",
        "z": "1a4e6507da790bd3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"org\":\"622f025ae63f4064b994056f\",\"pageAccessToken\":\"EAAHhrPMxDeQBAD4hUlkEoGOw8W0UqAZCsZBDIZC2OzMQWCq4sMXDFUvBaZA8wvmZAIT1ddv1GVCOcoEJ3XFB4bcoYMuuqttf6bQp6Fs6mIB59LTzvbwDLeb4PnNksyDuksnsQ8dnFJE4F2x2Ttki8Gu7g6VjqtNKC9YmZAnFEJdKb4HhPCSxpq\",\"expiresIn\":1652432321197,\"name\":\"Test botcake\",\"category\":\"Entertainment website\",\"avatarUrl\":\"//graph.facebook.com/104829002137005/picture?redirect=true&access_token=EAAHhrPMxDeQBAD4hUlkEoGOw8W0UqAZCsZBDIZC2OzMQWCq4sMXDFUvBaZA8wvmZAIT1ddv1GVCOcoEJ3XFB4bcoYMuuqttf6bQp6Fs6mIB59LTzvbwDLeb4PnNksyDuksnsQ8dnFJE4F2x2Ttki8Gu7g6VjqtNKC9YmZAnFEJdKb4HhPCSxpq&width=70&height=70\",\"createdBy\":\"622f0259e63f4064b994056e\",\"inTrash\":null,\"contact\":\"622f03c49301df735f00d20a\",\"errMsg\":\"\",\"channel\":\"FACEBOOK\",\"AutoReply\":{\"isEnabled\":false,\"isAllPost\":true,\"textReplyAll\":\"\",\"listPostAutoReply\":[],\"isAllPostMessenger\":true,\"textMessageAll\":\"\",\"listPostAutoMessenger\":[]},\"OmniAssignment\":{\"isEnabled\":true,\"isUserOnline\":true,\"isRoundRobin\":true,\"listUsers\":[],\"rules\":[],\"isChangeAssignContact\":false,\"isAssignRespForSession\":false},\"OmniPermission\":{\"userSupportView\":false,\"userSupportInGroupView\":false,\"userSupportInteract\":false,\"userSupportInGroupInteract\":false},\"admin\":[],\"chatbotIntegrate\":{\"manychat\":{\"active\":false}},\"groups\":[],\"isInSync\":false,\"isSubcribed\":true,\"isSubcribedLeadgen\":false,\"omniSettings\":{},\"rating\":false,\"textThanksRating\":\"\",\"userSuport\":[],\"verify\":false,\"id\":\"104829002137005\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "55e33801ca5aef75"
            ]
        ]
    },
    {
        "id": "8c33b03e647a2934",
        "type": "debug",
        "z": "1a4e6507da790bd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    }
]